header {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: #162d08;
}

nav {
    display: flex;
    width: 80vw;
    justify-content: end;
    align-items: center;
}

ul {
    display: flex;
    width: 26vw;
    justify-content: space-between;
    list-style: none;
}

li {
    font-size: 14px;
    line-height: 28px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

li:hover, #home {
    border-bottom: 2px solid white;
}

header a {
    color: white;
    text-decoration: none;
}

.banner {
    display: flex;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to bottom, #2e2e2e70, #2e2e2e70), url("src/assets/img-la-pizza/banner.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 96px;
}

#i-yellow {
    color: #FFA200;
}

#z-red {
    color: #CF3031;
}

#z-green {
    color: #5C913B;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14vh 0;
}

.box2 h2 {
    padding-bottom: 8vh;
}

.content-card {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 16vw;
    padding: 8px;
    align-items: center;
    background-color: #ffe1da;
    border-radius: 25px;
}

.box2 p {
    text-align: center;
}

.box2 button, .box3 button {
    background-color: #FFA200;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: none;
}

.box2 button:hover, .box3 button:hover {
    background-color: #e68d26;
}

.img-card {
    position: relative;
    bottom: 34px;
}

.descricao-pizza {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 16px;
}

.button-card {
    position: relative;
    top: 14px;
}

.box3 {
    display: flex;
    justify-content: center;
    padding: 4vh;
}

.content-box3 {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

.mesas {
    background-image: url("../assets/img-la-pizza/mesas.png");
    width: 30vw;
    height: 64vh;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

#prato {
    position: relative;
    right: 60px;
    top: 20px;
}

.descricao-restaurante {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 44vw;
}

.descricao-restaurante h2 {
    font-size: 36px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: white;
    background-color: #5C913B;
    font-size: 14px;
}

.compras {
    display: flex;
    background-color: #162d08;
    position: fixed;
    width: 270px;
    bottom: 0;
    right: 10px;
    border-radius: 25px 25px 0 0;
    padding: 0 18px;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.compras button {
    background-color: #5C913B;
    width: 100%;
    height: 40px;
    color: white;
    border-radius: 25px;
    border: none;
    margin-bottom: 10px;
}

.compras button:hover {
    background-color: #407122;
}

.title {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

#carrinho {
    width: 18px;
}

#nav-carrinho {
    display: none;
    width: 24px;
}

.itens {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #162d08;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 8px;
}

.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);
}

.box-modal {
    display: flex;
    position: absolute;
    right: 20vw;
    top: 5vh;
    background-color: white;
    width: 60vw;
    height: 90vh;
    border-radius: 25px;
    padding: 25px;
    flex-direction: column;
    justify-content: space-between;
}

.top-modal {
    /* border: #e68d26 2px solid; */
    display: flex;
    justify-content: space-between;
}

.main-modal {
    display: flex; 
    justify-content: space-between;
}

.main-modal .sub-box1, .main-modal .sub-box2 {
    border: 2px solid rgb(218, 218, 218);
    /* box-shadow: 2px 2px 2px #ffe1da; */
    width: 48%;
    padding: 1.5rem;
    border-radius: 25px;
    gap: 0.5rem;
}

.main-modal .sub-box1 {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    /* gap: 0.6rem; */
}

.main-modal .sub-box1 figure {
    display: flex;
    border: rgb(218, 218, 218) 2px solid; 
    border-radius: 20px;   
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-modal .sub-box1 figure img {
    width: 100px;
}

.sub-box1-div1 {
    /* border: #e68d26 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    /* margin-left: 1vw; */
}

.sub-box1-div2 button {
    width: 24px;
    height: 24px;
}

.sub-box1-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-modal .sub-box2 {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.main-modal .sub-box2 div {
    display: flex;
    flex-direction: column;
}

select, input, option {
    height: 30px;
    padding: 0 6px;
}

.checkbox-whats {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.footer-modal {
    display: flex;
    /* border: 2px solid pink; */
    justify-content: space-between;
    align-items: center;
}

.footer-modal div {
    display: flex;
}

.footer-modal button {
    height: 40px;
    width: 240px;
    border-radius: 25px;
    border: none;
    background-color: #407122;
    color: white;
}

@media (max-width: 1000px) {
    
    h1 {
        color: white;
        font-size: 56px;
    }

    .content-card {
        flex-direction: column;
        gap: 48px;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
    }

    #nav-carrinho {
        display: inline;
    }

    .mesas {
        display: none;
    }

    .descricao-restaurante {
        width: 100%;
        align-items: center;
    }

    .compras {
        display: none;
    }
}