header {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: #162d08;
}

nav {
    display: flex;
    width: 80vw;
    justify-content: end;
    align-items: center;
}

ul {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    list-style: none;
}

header a {
    color: white;
    text-decoration: none;
}

.banner {
    display: flex;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to bottom, #2e2e2e70, #2e2e2e70), url("src/assets/img-la-pizza/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 96px;
}

#i-yellow {
    color: #FFA200;
}

#z-red {
    color: #CF3031;
}

#z-green {
    color: #5C913B;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14vh 0;
}

.box2 h2 {
    padding-bottom: 8vh;
}

.content-card {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 16vw;
    align-items: center;
    background-color: #ffe1da;
    border-radius: 25px;
}

.box2 p {
    text-align: center;
}

.box2 button, .box3 button {
    background-color: #FFA200;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
}

.img-card {
    position: relative;
    bottom: 34px;
}

.descricao-pizza {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 16px;
}

.button-card {
    position: relative;
    top: 14px;
}

.box3 {
    display: flex;
    justify-content: center;
    padding: 4vh;
}

.content-box3 {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

.mesas {
    background-image: url("./img-la-pizza/mesas.png");
    width: 30vw;
    height: 64vh;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

#prato {
    position: relative;
    right: 60px;
    top: 20px;
}

.descricao-restaurante {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 44vw;
}

.descricao-restaurante h2 {
    font-size: 36px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: white;
    background-color: #5C913B;
}

.compras {
    display: flex;
    background-color: #162d08;
    position: fixed;
    width: 270px;
    bottom: 0;
    right: 10px;
    border-radius: 25px 25px 0 0;
    padding: 0 18px;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.compras button {
    background-color: #5C913B;
    width: 100%;
    height: 40px;
    color: white;
    border-radius: 25px;
    border: none;
    margin-bottom: 10px;
}

.title {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

#carrinho {
    width: 18px;
}

.itens {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: #162d08;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 8px;
}
